---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
BinPackParameters: false
BinPackArguments: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterExternBlock: true
ContinuationIndentWidth: 2
IndentWidth: 2
AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
SpaceBeforeParens: Never
...
