[submodule "external/godot-cpp"]
	path = external/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
